# 1st detaset

In [2]:
import pandas as pd

df = pd.read_csv('googleplaystore.csv')

print(df.head())

                                                 App        Category  Rating  \
0     Photo Editor & Candy Camera & Grid & ScrapBook  ART_AND_DESIGN     4.1
1                                Coloring book moana  ART_AND_DESIGN     3.9
2  U Launcher Lite â€“ FREE Live Cool Themes, Hide ...  ART_AND_DESIGN     4.7
3                              Sketch - Draw & Paint  ART_AND_DESIGN     4.5
4              Pixel Draw - Number Art Coloring Book  ART_AND_DESIGN     4.3

  Reviews  Size     Installs  Type Price Content Rating  \
0     159   19M      10,000+  Free     0       Everyone
1     967   14M     500,000+  Free     0       Everyone
2   87510  8.7M   5,000,000+  Free     0       Everyone
3  215644   25M  50,000,000+  Free     0           Teen
4     967  2.8M     100,000+  Free     0       Everyone

                      Genres      Last Updated         Current Ver  \
0               Art & Design   January 7, 2018               1.0.0
1  Art & Design;Pretend Play  January 15, 2018               2.0.0
2               Art & Design    August 1, 2018               1.2.4
3               Art & Design      June 8, 2018  Varies with device
4    Art & Design;Creativity     June 20, 2018                 1.1

    Android Ver
0  4.0.3 and up
1  4.0.3 and up
2  4.0.3 and up
3    4.2 and up
4    4.4 and up

In [3]:
c = df['Category'].value_counts()
print(c)
print("~"*100)
print("highest number ", c.idxmax())

Category
FAMILY                 1972
GAME                   1144
TOOLS                   843
MEDICAL                 463
BUSINESS                460
PRODUCTIVITY            424
PERSONALIZATION         392
COMMUNICATION           387
SPORTS                  384
LIFESTYLE               382
FINANCE                 366
HEALTH_AND_FITNESS      341
PHOTOGRAPHY             335
SOCIAL                  295
NEWS_AND_MAGAZINES      283
SHOPPING                260
TRAVEL_AND_LOCAL        258
DATING                  234
BOOKS_AND_REFERENCE     231
VIDEO_PLAYERS           175
EDUCATION               156
ENTERTAINMENT           149
MAPS_AND_NAVIGATION     137
FOOD_AND_DRINK          127
HOUSE_AND_HOME           88
LIBRARIES_AND_DEMO       85
AUTO_AND_VEHICLES        85
WEATHER                  82
ART_AND_DESIGN           65
EVENTS                   64
PARENTING                60
COMICS                   60
BEAUTY                   53
1.9                       1
Name: count, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
highest number  FAMILY

In [4]:
a = df['Rating'].mean()

print("Average ", a)

Average  4.193338315362443

In [5]:
x = df['Android Ver'].str.contains('2.3 and up|4.0.3 and up|4.2 and up|4.4 and up')

tot = len(x)

print("Android version 2.3 and up:", tot)

Android version 2.3 and up: 10841

In [16]:
d = df['Content Rating'].mode()[0]
print(d)
print("~"*100)

df[df['Content Rating'].isna()==True][0]

# df['Content Rating'].fillna(d, inplace=True)

# print("Content Rating column after imputation:")

# print(df['Content Rating'])

Everyone
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [13]:
df['Content Rating'].mode()

0    Everyone
Name: Content Rating, dtype: object

In [10]:
df.iloc[10472]

App               Life Made WI-Fi Touchscreen Photo Frame
Category                                              1.9
Rating                                               19.0
Reviews                                              3.0M
Size                                               1,000+
Installs                                             Free
Type                                                    0
Price                                            Everyone
Content Rating                                        NaN
Genres                                  February 11, 2018
Last Updated                                       1.0.19
Current Ver                                    4.0 and up
Android Ver                                           NaN
Name: 10472, dtype: object

# 2nd

In [ ]:
s = pd.read_csv('Salaries.csv')

In [ ]:
print(s.head())

In [ ]:
print(s.info())

In [ ]:
avg= s['BasePay'].mean()
print("Average BasePay:", avg)

In [ ]:
maximum = s['OvertimePay'].max()
print("Highest OvertimePay:", maximum)

In [ ]:
job = s[s['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle'].iloc[0]
print("Job Title:", job)

In [ ]:
total= s[s['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'].iloc[0]
print("Total pay of JOSEPH DRISCOLL :", total)

In [ ]:
unique_count = s['JobTitle'].nunique()
print(unique_count)

In [ ]:
top= s['JobTitle'].value_counts().head(5)
print(top)